/* Start Global Ruls  */
*{
    padding: 0;
    margin: 0;
}
:root{
    --main-color:#f5cb57;
    --text-color:#333;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style: none;
}
a{text-decoration: none;
    color: snow;
    transition: color 0.3s;}
.contanier {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    min-height: 92px;
}
/* Smaal  */
@media (max-width:768px){
    .contanier{
        width: 750px;
    }
    
}
/* medi  */
@media (min-width:768px){
    .contanier{
        width: 750px;
    }
}
/* Medium  */
@media (min-width:991px){
    .contanier{
        width: 970px;
    }
}
/* Large */
@media (min-width:1200px){
    .contanier{
        width: 1170px;
    }
}
/* End Global Ruls  */
/* Satrt header  */
#sales_bar {
    padding-top: 5px;
    padding-bottom:5px ;
    text-align: center;
    width: 100%;
    background-color: black;
    color: aliceblue;
}
#copy-coupon {
    text-decoration: underline;
    color: rgb(218, 218, 218);  
    
    padding-left: 5px;
    padding-right: 5px;
}
header{
    width: 100%;
    left: 0;
    background-color: #FFFFFF;

}

header .contanier{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .logo img{
    height: 50px;
}
header nav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
header nav ul{
    display: flex;

}
header nav ul li a{
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
    padding: 10px 35px 35px 35px;

}
header nav ul li .active,
header nav ul li a:hover{
    border-bottom: 2px solid var(--main-color);
    color: var(--main-color);
    transition: 0.2s;
    transform: translateX(10px);
    
}
header nav  .icon{
    margin-left: 20px;
}
header nav  .icon i{
    font-size: 20px;
    color: var(--text-color);
    margin: 20px;
}
header nav  .icon i:hover{
    color: var(--main-color);
    transition: 0.2s;
    transform: translateX(5px);
    
}


.section{
width: 70% ;
text-align: center;
margin: auto;

}
/* End Header */




/* start body */

/* start footer  */
footer{
    background: black;
}
footer .footer{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 70px;
    margin-right: 70px;
    max-height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.retil-logo div img{
cursor: pointer;
}
.social ul{
    display: flex;
}
.social ul li:not(:last-child){
margin-right: 20px;
}
footer div h3{
    color: snow;
    margin-bottom: 10px;
    font-size: 25px;
}
footer div ul li{
    margin-bottom: 10px;
    font-size: 20px;
}
footer div ul li a:hover{
    color: red;
}
/* end footer  */